*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background: linear-gradient(135deg, #E83C91,#EE6983,#FF8FB7);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
width: 100%;

}

.container{
    width: 800px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    /* align-items: center;
    justify-content: space-between;
 */
}

.container.active{
    width: 800px;
    height: 600px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    /* align-items: center;
    justify-content: space-between;
 */
}
.color-pallete{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.colors{
    height:100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E83C91;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}

.btn-container{
    width: 80px;
    height:32px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 3px 2px;
}

button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 1px 3px grey;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

button.active{
position: absolute;
right: 0%;
border: none;
box-shadow: 2px 1px 3px grey;
cursor: pointer;
}